<!-- search bar -->
<div class="row p-4 m-0 mb-5 rounded border border-dark" style="background-color: #dededa;">

    <!-- by title -->
    <div class="col-md-6 input-group">
        <div class="input-group-prepend">
            <h1 class="input-group-text bg-dark text-light">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Search by title &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
        </div>

        <input  #bookTitle
                type="text"
                class="form-control"
                (keyup)="bookSearch(bookTitle.value, authorName.value)">
    </div>

    <!-- by author -->
    <div class="col-md-6 input-group">
        <div class="input-group-prepend">
            <h1 class="input-group-text bg-dark text-light">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Search by author &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
        </div>
        <select #authorName
                class="form-control"
                (change)="bookSearch(bookTitle.value, authorName.value)">
            <option value=""></option>
            <option
                    *ngFor="let author of authors"
                    value={{author.name}}>{{author.name}}
            </option>
        </select>
    </div>
</div>

<table class="table ">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Authors</th>
            <th>Genres</th>
            <th>Available Un.</th>
            <th>Price</th>
            <th class="text-center">Basket</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books; even as isEven" [style.background-color]="isEven ? '#ddd' : '#eee'">
            <td>
                <a [routerLink]="['/book', book.id, 'view' ]">{{ book.title }}</a>
            </td>
            <td>
                {{ book.isbn }}
            </td>
            <td>
               <span *ngFor="let author of book.authors; last as isLast">
                    {{ isLast ? author.name : author.name + ", " }}
               </span>
            </td>
            <td>
                <span *ngFor="let genre of book.genres; last as isLast">
                    {{ isLast ? genre.name : genre.name + ", " }}
                </span>
            </td>
            <td>
                {{ book.quantity }}
            </td>
            <td>
                {{ book.price | currency:'EUR':'symbol' }}
            </td>
            <td class="text-center">
                <span
                    *ngIf="isBookInBasket(book.id); else addToBasket"
                    (click)="removeBookFromBasket(book.id)"
                    class="text-danger"
                    style="cursor:pointer"
                    title="Remove from basket">
                    <fa-icon [icon]="'cart-arrow-down'" size="lg"></fa-icon>
                </span>

                <ng-template #addToBasket>
                    <span *ngIf="book.quantity > 0; else outOfstock"
                        (click)="addBookToBasket(book.id)"
                        class="text-success"
                        style="cursor:pointer"
                        title="Add to basket">
                        <fa-icon [icon]="'cart-plus'" size="lg"></fa-icon>
                    </span>

                    <ng-template #outOfstock>
                        <span class="text-warning font-weight-bold">Out of stock</span>
                    </ng-template>
                </ng-template>

            </td>
        </tr>
    </tbody>
</table>
