<div>
    <h2 id="page-heading">
        <span>Sale Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sale-details" [routerLink]="['/sale-details/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Sale Details
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="saleDetails">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Quantity</span></th>
            <th><span>Sale</span></th>
            <th><span>Book</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let saleDetails of saleDetails ;trackBy: trackId">
                <td><a [routerLink]="['/sale-details', saleDetails.id, 'view' ]">{{saleDetails.id}}</a></td>
                <td>{{saleDetails.quantity}}</td>
                <td>
                    <div *ngIf="saleDetails.sale">
                        <a [routerLink]="['../sale', saleDetails.sale?.id, 'view' ]" >{{saleDetails.sale?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="saleDetails.book">
                        <a [routerLink]="['../book', saleDetails.book?.id, 'view' ]" >{{saleDetails.book?.title}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sale-details', saleDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sale-details', saleDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sale-details/'+ saleDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
